* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient();
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container .ring {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: #111;
    margin-top: 10px;
}

.container .ring .loading {
    position: relative;
    width: 100px;
    height: 100px;
    border: 8px solid rgba(0, 0, 0, .3);
    border-top: 8px solid rgb(255, 238, 0);
    border-right: 8px solid rgb(255, 238, 0);
    border-radius: 50%;
    animation: movecycle 2s linear infinite;
}

.container .ring .loading::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(237, 240, 74);
    box-shadow: 0 0 10px rgb(241, 241, 65), 0 0 20px rgb(241, 241, 65), 0 0 40px rgb(241, 241, 65), 0 0 60px rgb(241, 241, 65), 0 0 80px rgb(241, 241, 65);
}

@keyframes movecycle {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.container .cycleBall {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #111222;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateBg 2s linear infinite;
    margin-top: 10px;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.container .cycleBall span {
    position: absolute;
    width: 120px;
    height: 120px;
    transform: rotate(calc(18deg * var(--i)));
}

.container .cycleBall span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(51, 184, 224);
    box-shadow: 0 0 10px rgb(50, 233, 224), 0 0 20px rgb(50, 233, 224), 0 0 40px rgb(50, 233, 224), 0 0 60px rgb(50, 233, 224), 0 0 80px rgb(50, 233, 224), 0 0 100px rgb(50, 233, 224);
    animation: animate 2s linear infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%,
    100% {
        transform: scale(0);
    }
}

.container .lines {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    background: linear-gradient(to bottom, #36363a, #111222);
}

.container .lines .linesDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 居中：以上的代码只能左右居中，不明白为什么？要两段代码都写才可以，只有下面都代码也不会居中！ */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30px;
    /* 倒影 */
    -webkit-box-reflect: below 10px linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
}

.container .lines span {
    position: relative;
    width: 4px;
    height: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: skyblue;
    margin-right: 5px;
    animation: linesAnimate .5s linear infinite;
    animation-delay: calc(.05s * var(--i));
}

.container .lines span:nth-child(1),
.container .lines span:nth-child(7) {
    height: 20px;
    top: -14px;
}

.container .lines span:nth-child(2),
.container .lines span:nth-child(6) {
    height: 35px;
    top: -12px;
}

.container .lines span:nth-child(3),
.container .lines span:nth-child(5) {
    height: 40px;
    top: -6px;
}

.container .lines span:nth-child(4) {
    height: 45px;
}

@keyframes linesAnimate {
    0%,
    100% {
        filter: hue-rotate(0deg);
        transform: translateY(0px);
    }
    50% {
        filter: hue-rotate(360deg);
        transform: translateY(-8px);
    }
}